@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Takota";
    src: url("./takota-font/Takota-BRa8.ttf") format("truetype");
}

@font-face {
  font-family: "Atami";
  src: url("./Atami/Atami-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Atami Display";
  src: url("./Atami/Atami-Display-Bold.otf") format("opentype");
}

.scrollbar-track{
    background: none !important;
    width: 6px !important;
}
.scrollbar-thumb{
    background: rgb(57, 57, 57) !important;
}
html {
    scroll-behavior: smooth;
    background-color: #f9f5e9;
    color: #1f1f1f;
    transition: all ease-in 200ms;
}


.dark{
    background-color: #1f1f1f;
    color:#f9f5e9;
    transition: all ease-in 200ms;
}

#darkModeIcon, #lightModeIcon{
    font-size: 45px;
    padding: 2px;
    cursor: pointer;
    display: inline;
    position: fixed;
    top: 15px;
    right: 90px;
    border-radius: 50%;   
    z-index: 100;
}

#lightModeIcon.inactiveTheme{
    pointer-events: none;
    opacity: 0;
    transform: translateX(-75px);
}

#darkModeIcon.inactiveTheme{
    pointer-events: none;
    opacity: 0;
    transform: translateX(75px);
}

#darkModeIcon.activeTheme{
    color:white;
    background-color: #1f1f1f;
    border: 2px solid white;
}

#darkModeIcon.activeTheme:hover{
    transform: scale(1.2);
}
#lightModeIcon.activeTheme:hover{
    transform: scale(1.2);
}

#lightModeIcon.activeTheme{
    color:black;
    background-color:rgb(255, 255, 128);
    border: 2px solid black;

}

.activeTheme{
    opacity: 1;
}

#my-scrollbar {
    width: 200px;
    height: 200px;
  }

  /*
.marquee{
    font-size: 45px;
    height:90px;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow-y: hidden;
}
*/

.marqueeicon{
  margin-left: 10vw;
  margin-right: 10vw;
  transform-origin: center;
  transition: all 0.2s;
}

.marqueeicon:hover{
  transform: scale(1.5);
}

div#slantText{
    text-align: center;
}



.perspective-text {
    display: block;
    margin-left: auto;
    margin-right:auto;
    /*
    transform: translateX(-78px);
    */
    font-family: "Atami Display";
    font-size: 50px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
    white-space: nowrap;
    color: transparent;
    
    overflow: hidden;
    padding-bottom: 80px;
    padding-top: 55px;
  }
  
  .perspective-line {
    height: 50px;
    overflow: hidden;
    position: relative;
    width: 380px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .perspective-line>p {
    margin: 0;
    height: 50px;
    line-height: 50px;
    transition: all 0.5s ease-in-out;
  }


  .perspective-line:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.667);
  }
  .perspective-line:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.333);
  }

  .perspective-line:nth-child(1) {
    left: 29px;
  }
  .perspective-line:nth-child(2) {
    left: 58px;
  }
  .perspective-line:nth-child(3) {
    left: 87px;
  }
  .perspective-line:nth-child(4) {
    left: 116px;
  }
  .perspective-line:nth-child(5) {
    left: 145px;
  }
  
  /* Sliding text on all lines */
  .perspective-text p{
    transform: translate(0, -50px);
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation: text-anim 6s infinite;
  }
  
    
  @keyframes text-anim {
    0% {
      transform: translate(0, 0);
    }
      50% {
      transform: translate(0, -50px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  /*
  .fadeIn{
    background: linear-gradient(to bottom, transparent 40%, rgb(0, 0, 0) 100%);
  }
  */
  
  @media only screen and (max-width: 550px) {
    div#slantText > h1 {
      font-size: 50px;
    }
    .perspective-text {
        font-size: 45px;
        padding-right: 40px;
        margin-left: 25px;
    }
  }

  @media only screen and (max-width: 400px) {
    .perspective-text {
        font-size: 45px;
        padding-right: 40px;
        margin-left: -5px;
    }
    .asteriskcontainer{
      margin-top:0px;
    }
  }

  @media only screen and (max-width: 370px) {
    .perspective-text {
        transform:scale(0.8);
        font-size: 45px;
        padding-right: 40px;
        margin-left: -50px;
    }
    #darkModeIcon, #lightModeIcon{
      font-size: 35px;
      padding: 2px;
      top: 20px;
      right: 90px;
    }
    #projectCardsContainer{
      height:3050px;
    }
  }