@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Takota";
    src: url("./takota-font/Takota-BRa8.ttf") format("truetype");
}

@font-face {
  font-family: "Atami";
  src: url("./Atami/Atami-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Atami Display";
  src: url("./Atami/Atami-Display-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Room 205";
  src: url("./Room205/Room205-Regular.otf") format("opentype");
}

.scrollbar-track{
    background: none !important;
    width: 6px !important;
}
.scrollbar-thumb{
    background: rgb(57, 57, 57) !important;
}
html {
    scroll-behavior: smooth;
    background-color: #f9f5e9;
    color: #1f1f1f;
    transition: all ease-in 200ms;
}


.dark{
    background-color: #1f1f1f;
    color:#f9f5e9;
    transition: all ease-in 200ms;
}

#darkModeIcon, #lightModeIcon{
    font-size: 45px;
    padding: 2px;
    cursor: pointer;
    display: inline;
    position: fixed;
    top: 15px;
    right: 90px;
    border-radius: 50%;   
    z-index: 100;
}

#lightModeIcon.inactiveTheme{
    pointer-events: none;
    opacity: 0;
    transform: translateX(-75px);
}

#darkModeIcon.inactiveTheme{
    pointer-events: none;
    opacity: 0;
    transform: translateX(75px);
}

#darkModeIcon.activeTheme{
    color:white;
    background-color: #1f1f1f;
    border: 2px solid white;
}

#darkModeIcon.activeTheme:hover{
    transform: scale(1.2);
}
#lightModeIcon.activeTheme:hover{
    transform: scale(1.2);
}

#lightModeIcon.activeTheme{
    color:black;
    background-color:rgb(255, 255, 128);
    border: 2px solid black;

}

.activeTheme{
    opacity: 1;
}

#my-scrollbar {
    width: 200px;
    height: 200px;
  }

  /*
.marquee{
    font-size: 45px;
    height:90px;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow-y: hidden;
}
*/

.marqueeicon{
  margin-left: 10vw;
  margin-right: 10vw;
  transform-origin: center;
}

  

  @media only screen and (max-width: 400px) {
    .asteriskcontainer{
      margin-top:0px;
    }
  }

  @media only screen and (max-width: 370px) {
    #darkModeIcon, #lightModeIcon{
      font-size: 35px;
      padding: 2px;
      top: 20px;
      right: 90px;
    }
    #projectCardsContainer{
      height:3050px;
    }
    .mobileEmailButton{
      font-size: 33px;
    }
    .sectionHeader{
      font-size: 45px;
    }
  }
