@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("./Atkinson-Hyperlegible/WebFonts/TTF/Atkinson-Hyperlegible-Regular-102.ttf") format("truetype");
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.preload {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  z-index: 150;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
  transition: all 0.75s ease 1s;
}

.resultsload-finish {
  opacity: 0;
  pointer-events: none;
  transition: all 0.75s ease 1s;
}

#loading-pic {
  height: 15em;
  color: #ffffff;
  white-space: nowrap;
}

#loading-results-pic {
  height: 15em;
  color: #ffffff;
  white-space: nowrap;
}


.load-anim {
  -webkit-animation: preload-label 2s 10 cubic-bezier(0.2, 0.6, 0.3, 1);
  -moz-animation: preload-label 2s 10 cubic-bezier(0.2, 0.6, 0.3, 1);
  animation: preload-label 2s 10 cubic-bezier(0.2, 0.6, 0.3, 1);
}

@-webkit-keyframes preload-label {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.15;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes preload-label {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.15;
  }

  100% {
    opacity: 1;
  }
}

@keyframes preload-label {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.15;
  }

  100% {
    opacity: 1;
  }
}

.content {
  margin-top: 100px;
  width: 80vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#introtext {
  font-size: 50px;
  font-family: "Atkinson Hyperlegible";
}

#headerpic {
  width: 8vw;
  height: 8vw;
  min-width: 200px;
  min-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

@import url("./output.css");
.toggleDarkBtn {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 41px;
}

.toggleDarkBtn input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slideBtnTg {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(241, 40, 40);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slideBtnTg:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 5px;
  bottom: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: white;
}
input:checked + .slideBtnTg {
  background-color: #1d1e1f;
}
input:focus + .slideBtnTg {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slideBtnTg:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slideBtnTg.round {
  border-radius: 34px;
}
.slideBtnTg.round:before {
  border-radius: 50%;
}